* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(0, 174, 255), rgb(170, 255, 170));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 4px;
}

.container .title {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .timer {
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding: 1rem 10rem;
  margin: 0.3rem;
}
#start,
#stop,
#reset {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 4rem;
  margin: 0 -2px;
}
#start:hover,
#stop:hover,
#reset:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
